/*Configuracion basica de todas las paginas*/
/*Basicamente de los textos, input field y botones*/

.txt-1{
    position: relative;
    left: 25%;
    font-weight: 550;
    font-size: 25px;
}

.txt-2{
    position: relative;
    left: 25%;
    font-weight: 300;
    font-size: 16px;
}

.txt-3{
    position: relative;
    left: 25%;
    font-weight: 300;
    font-size: 13px;
}

.input-field{

    position: relative;
    left: 25%;
    max-width: 280px;
    width: 100%;
    height: 50px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.9rem;
    position: relative;
}

.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 500;
    font-size: 1rem;
}

.input-field:placeholder-shown{
    color:#aaa;
    font-weight: 500;
}

.btn-send{
    position: relative;
    left: 25%;
    width: 150px;
    height: 49px;
    outline: none;
    border: none;
    border-radius: 48px;
    background-color: #34bee5;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: all 0.5s;
}

.btn-send:hover{
    background-color: #34bee5;
}